/* genreal settings */

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* burger menu */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-color: #111;
}

.show .navbar__links {
  transition: width 0.5s ease-in-out;
  z-index: 1;
}

.navbar__links {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  transition: width 0.5s ease-in-out;
}

.navbar__link {
  padding: 0 15px;
}

.navbar__link > a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.navbar__link > a::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-in-out;
}

.navbar__link:hover > a::after {
  width: 100%;
}

/* burger button */

.burger {
  display: block;
  z-index: 2;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bar {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.show .bar {
  width: 0;
  background-color: transparent;
}

.bar::before,
.bar::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

.bar::before {
  transform: translateY(-12px);
}

.show .bar::before {
  transform: rotate(45deg);
}

.bar::after {
  transform: translateY(12px);
}

.show .bar::after {
  transform: rotate(-45deg);
}

/* menu */

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
}

/* page name */

h1 {
  color: #fff;
  text-align: right;
  padding-right: 15px;
}

/* content */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cce;
}

/* each item */

.cards {
  max-width: 100%;
  display: grid;
  column-gap: 6rem;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.title {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.changeTitle {
  margin-bottom: 10px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #aaa;
}

.toShow {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* switch button */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* visualization page settings */

.visualizer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url(assets/img/bg.jpeg);
  background-size: cover;
}

/* item to display */

.item {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 10%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.item1 {
  top: 0;
}

.item2 {
  bottom: 0;
}

/* small device */

@media (min-width: 300px) {
  .show .navbar__links {
    width: 100%;
    align-items: center;
  }

  ul {
    padding-top: 100px;
  }

  .item2 {
    min-width: 100vw;
  }
}

/* medium device */

@media (min-width: 600px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .show .navbar__links {
    width: 100%;
  }
}

/* large device */

@media (min-width: 1100px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .show .navbar__links {
    width: 10%;
  }

  .item2 {
    left: 0;
    min-width: 20%;
  }
}

/* extra large device */

@media (min-width: 1400px) {
  .cards {
    column-gap: 8rem;
  }
}
